In [1]:
import pandas as pd

In [2]:
# -------------------------------------------------------------------------------------------------
# read population csv file
# -------------------------------------------------------------------------------------------------

df_dep_pop = pd.read_csv('dep_pop_fr_2019.csv')
df_dep_pop.head(3)

,dep_no,dep_name,dep_capital,region_1,region_2,population,area,population_density
0,1,Ain,Bourg-en-Bresse,Rhône-Alpes,Auvergne-Rhône-Alpes,652432,5762,113
1,2,Aisne,Laon,Picardy,Hauts de France,531345,7369,72
2,3,Allier,Moulins,Auvergne,Auvergne-Rhône-Alpes,335975,734,46

In [3]:
# -------------------------------------------------------------------------------------------------
# zfill dep_no
# -------------------------------------------------------------------------------------------------

df_dep_pop['dep_no'] = df_dep_pop['dep_no'].astype(str).str.zfill(2)
df_dep_pop['dep_no'].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89',
       '90', '91', '92', '93', '94', '95', '971', '972', '973', '974',
       '976', '2A', '2B'], dtype=object)

In [4]:
df_dep_pop.head(3)

,dep_no,dep_name,dep_capital,region_1,region_2,population,area,population_density
0,01,Ain,Bourg-en-Bresse,Rhône-Alpes,Auvergne-Rhône-Alpes,652432,5762,113
1,02,Aisne,Laon,Picardy,Hauts de France,531345,7369,72
2,03,Allier,Moulins,Auvergne,Auvergne-Rhône-Alpes,335975,734,46

In [5]:
# -------------------------------------------------------------------------------------------------
# export population dataframe to joblib
#
# csv has not been uploaded
# -------------------------------------------------------------------------------------------------
from joblib import dump

#notebook: /notebooks/1-data-exploration
#joblib:   /data/processed/1_exploration
#path:     ../../data/processed/1_exploration/1.0-dep_pop_fr_2019.joblib

dump(df_dep_pop, '../../data/processed/1_exploration/1.0-simmler-dep_pop_fr_2019.joblib')

['../../data/processed/1_exploration/1.0-simmler-dep_pop_fr_2019.joblib']