Steps to 1.0-becker-data-preprocessing_usagers
- from raw datasets to uploaded file.
- interpretation and suggestions for next steps.
- A Joblib snapshot of the merged dataset already exists in the repository: data/processed/2_preprocessing/1.0-becker-data-preprocessing_usagers

# Libraries Imports

In [1]:
import pandas as pd
import numpy as np
import joblib
import matplotlib.pyplot as plt
import seaborn as sns

# Raw-data import 
- usagers files from 2019-2024 from BAAC

In [2]:
usagers_2019 = pd.read_csv("data/usagers-2019.csv", sep=";")
usagers_2020 = pd.read_csv("data/usagers-2020.csv", sep=";")
usagers_2021 = pd.read_csv("data/usagers-2021.csv", sep=";")
usagers_2022 = pd.read_csv("data/usagers-2022.csv", sep=";")
usagers_2023 = pd.read_csv("data/usagers-2023.csv", sep=";")
usagers_2024 = pd.read_csv("data/usagers-2024.csv", sep=";")
print("Loaded shapes:", {2019: usagers_2019.shape, 2020: usagers_2020.shape, 2021: usagers_2021.shape,
                        2022: usagers_2022.shape, 2023: usagers_2023.shape, 2024: usagers_2024.shape})

Loaded shapes: {2019: (132977, 15), 2020: (105295, 15), 2021: (129248, 16), 2022: (126662, 16), 2023: (125789, 16), 2024: (125187, 16)}

# Cleaning "-1" Values in "grav" and "an_nais"
- as seen in exploration: -1 in "grav" and "-1" in "an_nais" are unimportant and useless information for project goal
- in this step i remove these rows and display before/after/dropped.

In [4]:
# Precheck
for name, df in [("2019", usagers_2019), ("2020", usagers_2020), ("2021", usagers_2021),
                 ("2022", usagers_2022), ("2023", usagers_2023), ("2024", usagers_2024)]:
    rows_before = len(df)
    count_minus1 = 0
    if "grav" in df.columns:
        count_minus1 += (df["grav"] == -1).sum()
    if "an_nais" in df.columns:
        count_minus1 += (df["an_nais"] == -1).sum()
    print(f"{name}: rows_before={rows_before}, rows_with_-1_in_grav_or_an_nais={int(count_minus1)}")

2019: rows_before=132977, rows_with_-1_in_grav_or_an_nais=0
2020: rows_before=105295, rows_with_-1_in_grav_or_an_nais=0
2021: rows_before=129248, rows_with_-1_in_grav_or_an_nais=60
2022: rows_before=126662, rows_with_-1_in_grav_or_an_nais=241
2023: rows_before=125789, rows_with_-1_in_grav_or_an_nais=118
2024: rows_before=125187, rows_with_-1_in_grav_or_an_nais=0

In [ ]:
# Cleaning missing values
rows_before = len(usagers_2019)
mask_minus1 = (usagers_2019["grav"] == -1) | (usagers_2019["an_nais"] == -1)
usagers_2019_clean = usagers_2019.loc[~mask_minus1].copy()
print("2019:", "before =", rows_before, "after =", len(usagers_2019_clean), "dropped =", int(mask_minus1.sum()))
# 2019: before = 132977 after = 132977 dropped = 0
# same for 2020 - 2024
rows_before = len(usagers_2020)
mask_minus1 = (usagers_2020["grav"] == -1) | (usagers_2020["an_nais"] == -1)
usagers_2020_clean = usagers_2020.loc[~mask_minus1].copy()
print("2020:", "before =", rows_before, "after =", len(usagers_2020_clean), "dropped =", int(mask_minus1.sum()))
rows_before = len(usagers_2021)
mask_minus1 = (usagers_2021["grav"] == -1) | (usagers_2021["an_nais"] == -1)
usagers_2021_clean = usagers_2021.loc[~mask_minus1].copy()
print("2021:", "before =", rows_before, "after =", len(usagers_2021_clean), "dropped =", int(mask_minus1.sum()))
rows_before = len(usagers_2022)
mask_minus1 = (usagers_2022["grav"] == -1) | (usagers_2022["an_nais"] == -1)
usagers_2022_clean = usagers_2022.loc[~mask_minus1].copy()
print("2022:", "before =", rows_before, "after =", len(usagers_2022_clean), "dropped =", int(mask_minus1.sum()))
rows_before = len(usagers_2023)
mask_minus1 = (usagers_2023["grav"] == -1) | (usagers_2023["an_nais"] == -1)
usagers_2023_clean = usagers_2023.loc[~mask_minus1].copy()
print("2023:", "before =", rows_before, "after =", len(usagers_2023_clean), "dropped =", int(mask_minus1.sum()))
rows_before = len(usagers_2024)
mask_minus1 = (usagers_2024["grav"] == -1) | (usagers_2024["an_nais"] == -1)
usagers_2024_clean = usagers_2024.loc[~mask_minus1].copy()
print("2024:", "before =", rows_before, "after =", len(usagers_2024_clean), "dropped =", int(mask_minus1.sum()))

2019: before = 132977 after = 132977 dropped = 0
2020: before = 105295 after = 105295 dropped = 0
2021: before = 129248 after = 129188 dropped = 60
2022: before = 126662 after = 126421 dropped = 241
2023: before = 125789 after = 125671 dropped = 118
2024: before = 125187 after = 125187 dropped = 0

# Remove exact duplicate rows per year
- drop exact duplicate rows within each yearly cleaned dataframe.
- print out shows how many rows were dropped per year.

In [6]:

before = len(usagers_2019_clean)
usagers_2019_nodup = usagers_2019_clean.drop_duplicates(keep="first").copy()
removed = before - len(usagers_2019_nodup)
print("2019 duplicates removed =", removed, "rows_after =", len(usagers_2019_nodup))
before = len(usagers_2020_clean)
usagers_2020_nodup = usagers_2020_clean.drop_duplicates(keep="first").copy()
removed = before - len(usagers_2020_nodup)
print("2020 duplicates removed =", removed, "rows_after =", len(usagers_2020_nodup))
before = len(usagers_2021_clean)
usagers_2021_nodup = usagers_2021_clean.drop_duplicates(keep="first").copy()
removed = before - len(usagers_2021_nodup)
print("2021 duplicates removed =", removed, "rows_after =", len(usagers_2021_nodup))
before = len(usagers_2022_clean)
usagers_2022_nodup = usagers_2022_clean.drop_duplicates(keep="first").copy()
removed = before - len(usagers_2022_nodup)
print("2022 duplicates removed =", removed, "rows_after =", len(usagers_2022_nodup))
before = len(usagers_2023_clean)
usagers_2023_nodup = usagers_2023_clean.drop_duplicates(keep="first").copy()
removed = before - len(usagers_2023_nodup)
print("2023 duplicates removed =", removed, "rows_after =", len(usagers_2023_nodup))
before = len(usagers_2024_clean)
usagers_2024_nodup = usagers_2024_clean.drop_duplicates(keep="first").copy()
removed = before - len(usagers_2024_nodup)
print("2024 duplicates removed =", removed, "rows_after =", len(usagers_2024_nodup))
#2019 duplicates removed = 101 rows_after = 132876
#2020 duplicates removed = 63 rows_after = 105232
#2021 duplicates removed = 0 rows_after = 129188
#2022 duplicates removed = 0 rows_after = 126421
#2023 duplicates removed = 0 rows_after = 125671
#2024 duplicates removed = 0 rows_after = 125187

2019 duplicates removed = 101 rows_after = 132876
2020 duplicates removed = 63 rows_after = 105232
2021 duplicates removed = 0 rows_after = 129188
2022 duplicates removed = 0 rows_after = 126421
2023 duplicates removed = 0 rows_after = 125671
2024 duplicates removed = 0 rows_after = 125187

# add year-variable and compute age-variable, harmonize 'grav'-codes(severity)
- year is necessary for compuation of 'age' and to make temporal provenance explicit
- Compute `age` from `an_nais` using `age = year - an_nais` and coerce invalid birthyears (<1900 or > year) to missing.(these values are not logical) Store `age` as a nullable integer.
- Harmonize severity codes by swapping values 2 and 4 (4=killed and 2=light injured). This supports subsequent interpretation and gives the codes of the target variables a logical increase. 0 lowest severity to 4 highest

In [8]:
# creation of "year"
usagers_2019_nodup["year"] = 2019
usagers_2020_nodup["year"] = 2020
usagers_2021_nodup["year"] = 2021
usagers_2022_nodup["year"] = 2022
usagers_2023_nodup["year"] = 2023
usagers_2024_nodup["year"] = 2024

# create function for compute age and create 'age' for each year
def compute_age(df):
    year =df['year'].iloc[0]
    an_nais = df.get('an_nais')
    age =(year -an_nais).where(an_nais.notna(),np.nan)
    invalid=(an_nais <1900) | (an_nais >year)
    age =age.where(~invalid,np.nan)
    df.loc[:,'age']=age.astype('Int64')
    return df
usagers_2019_nodup = compute_age(usagers_2019_nodup)
usagers_2020_nodup = compute_age(usagers_2020_nodup)
usagers_2021_nodup = compute_age(usagers_2021_nodup)
usagers_2022_nodup = compute_age(usagers_2022_nodup)
usagers_2023_nodup = compute_age(usagers_2023_nodup)
usagers_2024_nodup = compute_age(usagers_2024_nodup)
print(usagers_2024_nodup['age'].info())
# swap grav 2 and 4 in each datafram 
map_swap = {2: 4, 4: 2}
for df, name in [(usagers_2019_nodup, "2019"), (usagers_2020_nodup, "2020"), (usagers_2021_nodup, "2021"),
                 (usagers_2022_nodup, "2022"), (usagers_2023_nodup, "2023"), (usagers_2024_nodup, "2024")]:
    print(name, "before:", df["grav"].value_counts(dropna=False).to_dict())
    df.loc[:, "grav"] = df["grav"].map(lambda v: map_swap.get(v, v))
    print(name, "after:", df["grav"].value_counts(dropna=False).to_dict())

<class 'pandas.core.series.Series'>
Index: 125187 entries, 0 to 125186
Series name: age
Non-Null Count   Dtype
--------------   -----
122608 non-null  Int64
dtypes: Int64(1)
memory usage: 2.0 MB
None
2019 before: {1: 55271, 2: 53256, 3: 20852, 4: 3497}
2019 after: {1: 55271, 4: 53256, 3: 20852, 2: 3497}
2020 before: {1: 43229, 2: 42451, 3: 16772, 4: 2780}
2020 after: {1: 43229, 4: 42451, 3: 16772, 2: 2780}
2021 before: {1: 55143, 2: 51733, 3: 19093, 4: 3219}
2021 after: {1: 55143, 4: 51733, 3: 19093, 2: 3219}
2022 before: {1: 53630, 2: 49981, 3: 19260, 4: 3550}
2022 after: {1: 53630, 4: 49981, 3: 19260, 2: 3550}
2023 before: {1: 53399, 2: 49603, 3: 19271, 4: 3398}
2023 after: {1: 53399, 4: 49603, 3: 19271, 2: 3398}
2024 before: {1: 52920, 2: 49709, 3: 19126, 4: 3432}
2024 after: {1: 52920, 4: 49709, 3: 19126, 2: 3432}

# Rename columns, harmonize schema, concatenate per-year frames into usagers_final and save snapshot
- rename original French columns to consistent english identifiers
- check that indivual_age (not existent before 2021) is set to missing value
- drop individual_birthyear to reduce data size and because Age stores this information now.

In [ ]:

rename_map = {
    "Num_Acc":"acc_num",
    "place":"individual_place",
    "catu":"individual_cat",
    "grav":"individual_severity",
    "sexe":"individual_sex",
    "trajet":"individual_trip",
    "secu":"individual_safety",
    "locp":"individual_location",
    "actp":"individual_action",
    "etatp":"individual_companionship",
    "an_nais":"individual_birthyear",
    "num_veh":"veh_num",
    "id_vehicule":"individual_vehID",
    "secu1":"individual_secu1",
    "secu2":"individual_secu2",
    "secu3":"user_secu3",
    "id_usager":"individual_id"
}
dfs=[usagers_2019_nodup, usagers_2020_nodup, usagers_2021_nodup,
     usagers_2022_nodup, usagers_2023_nodup, usagers_2024_nodup]
for df in dfs:
    # rename only for existing columns
    df.rename(columns={k:v for k,v in rename_map.items() if k in df.columns}, inplace=True)
    # missing ids > no exist before 2021
    if "individual_id" not in df.columns:
        df.loc[:, "individual_id"] = pd.NA
    # ensure correct dtypes
    if "individual_birthyear" in df.columns:
        df.loc[:, "individual_birthyear"] = pd.to_numeric(df["individual_birthyear"], errors="coerce").astype("float")
    df.loc[:, "age"] = pd.to_numeric(df.get("age"), errors="coerce").astype("float")

usagers_final = pd.concat(dfs, ignore_index=True)
print("Final shape:", usagers_final.shape)
print(usagers_final.info())
print(usagers_final.head())
print(usagers_final.describe(include='all'))
usagers_final=usagers_final.drop('individual_birthyear',axis=1) # dropoing birthyear as age is present and to reduce size of dataset for upload
joblib.dump(usagers_final, "1.0-becker-data-preprocessing_usagers")

print(usagers_final.info())

Final shape: (744575, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744575 entries, 0 to 744574
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   acc_num                   744575 non-null  int64
 1   individual_vehID          744575 non-null  object
 2   veh_num                   744575 non-null  object
 3   individual_place          744575 non-null  int64
 4   individual_cat            744575 non-null  int64
 5   individual_severity       744575 non-null  int64
 6   individual_sex            744575 non-null  int64
 7   individual_birthyear      733875 non-null  float64
 8   individual_trip           744575 non-null  int64
 9   individual_secu1          744575 non-null  int64
 10  individual_secu2          744575 non-null  int64
 11  user_secu3                744575 non-null  int64
 12  individual_location       744575 non-null  int64
 13  individual_action         744575 non-null  object
 14  individual_companionship  744575 non-null  int64
 15  year                      744575 non-null  int64
 16  age                       733875 non-null  Int64
 17  individual_id             506467 non-null  object
dtypes: Int64(1), float64(1), int64(12), object(4)
memory usage: 103.0+ MB
None
        acc_num individual_vehID veh_num  individual_place  individual_cat  \
0  201900000001      138 306 524     B01                 2               2
1  201900000001      138 306 524     B01                 1               1
2  201900000001      138 306 525     A01                 1               1
3  201900000002      138 306 523     A01                 1               1
4  201900000003      138 306 520     A01                 1               1

   individual_severity  individual_sex  individual_birthyear  individual_trip  \
0                    4               2                2002.0                0
1                    4               2                1993.0                5
2                    1               1                1959.0                0
3                    4               2                1994.0                0
4                    1               1                1996.0                0

   individual_secu1  individual_secu2  user_secu3  individual_location  \
0                 1                 0          -1                   -1
1                 1                 0          -1                   -1
2                 1                 0          -1                   -1
3                 1                 0          -1                   -1
4                 1                 0          -1                   -1

  individual_action  individual_companionship  year  age individual_id
0                -1                        -1  2019   17           NaN
1                -1                        -1  2019   26           NaN
2                -1                        -1  2019   60           NaN
3                -1                        -1  2019   25           NaN
4                 0                        -1  2019   23           NaN
             acc_num individual_vehID veh_num  individual_place  \
count   7.445750e+05           744575  744575     744575.000000
unique           NaN           555558      86               NaN
top              NaN      155 602 779     A01               NaN
freq             NaN               65  448809               NaN
mean    2.021514e+11              NaN     NaN          2.100597
std     1.717437e+08              NaN     NaN          2.596966
min     2.019000e+11              NaN     NaN         -1.000000
25%     2.020000e+11              NaN     NaN          1.000000
50%     2.022000e+11              NaN     NaN          1.000000
75%     2.023000e+11              NaN     NaN          2.000000
max     2.024001e+11              NaN     NaN         10.000000

        individual_cat  individual_severity  individual_sex  \
count    744575.000000        744575.000000   744575.000000
unique             NaN                  NaN             NaN
top                NaN                  NaN             NaN
freq               NaN                  NaN             NaN
mean          1.334659             2.529494        1.285077
std           0.614004             1.374236        0.534913
min           1.000000             1.000000       -1.000000
25%           1.000000             1.000000        1.000000
50%           1.000000             3.000000        1.000000
75%           2.000000             4.000000        2.000000
max           3.000000             4.000000        2.000000

        individual_birthyear  individual_trip  individual_secu1  \
count          733875.000000    744575.000000     744575.000000
unique                   NaN              NaN               NaN
top                      NaN              NaN               NaN
freq                     NaN              NaN               NaN
mean             1982.912766         3.175068          1.943311
std                19.089213         2.750914          2.342639
min              1900.000000        -1.000000         -1.000000
25%              1970.000000         0.000000          1.000000
50%              1986.000000         4.000000          1.000000
75%              1998.000000         5.000000          2.000000
max              2024.000000         9.000000          9.000000

        individual_secu2     user_secu3  individual_location  \
count      744575.000000  744575.000000        744575.000000
unique               NaN            NaN                  NaN
top                  NaN            NaN                  NaN
freq                 NaN            NaN                  NaN
mean            1.038844      -0.891326            -0.203000
std             3.070058       0.940800             1.239422
min            -1.000000      -1.000000            -1.000000
25%            -1.000000      -1.000000            -1.000000
50%             0.000000      -1.000000             0.000000
75%             0.000000      -1.000000             0.000000
max             9.000000       9.000000             9.000000

       individual_action  individual_companionship           year        age  \
count             744575             744575.000000  744575.000000   733875.0
unique                13                       NaN            NaN       <NA>
top                    0                       NaN            NaN       <NA>
freq              376021                       NaN            NaN       <NA>
mean                 NaN                 -0.821915    2021.513501  38.587332
std                  NaN                  0.628932       1.717439  19.017614
min                  NaN                 -1.000000    2019.000000        0.0
25%                  NaN                 -1.000000    2020.000000       23.0
50%                  NaN                 -1.000000    2022.000000       35.0
75%                  NaN                 -1.000000    2023.000000       52.0
max                  NaN                  3.000000    2024.000000      120.0

       individual_id
count         506467
unique        506467
top          267 638
freq               1
mean             NaN
std              NaN
min              NaN
25%              NaN
50%              NaN
75%              NaN
max              NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744575 entries, 0 to 744574
Data columns (total 17 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   acc_num                   744575 non-null  int64
 1   individual_vehID          744575 non-null  object
 2   veh_num                   744575 non-null  object
 3   individual_place          744575 non-null  int64
 4   individual_cat            744575 non-null  int64
 5   individual_severity       744575 non-null  int64
 6   individual_sex            744575 non-null  int64
 7   individual_trip           744575 non-null  int64
 8   individual_secu1          744575 non-null  int64
 9   individual_secu2          744575 non-null  int64
 10  user_secu3                744575 non-null  int64
 11  individual_location       744575 non-null  int64
 12  individual_action         744575 non-null  object
 13  individual_companionship  744575 non-null  int64
 14  year                      744575 non-null  int64
 15  age                       733875 non-null  Int64
 16  individual_id             506467 non-null  object
dtypes: Int64(1), int64(12), object(4)
memory usage: 97.3+ MB
None

# check rows before/after

In [11]:
sum_rows = sum(len(df) for df in [usagers_2019_nodup, usagers_2020_nodup, usagers_2021_nodup,
                                  usagers_2022_nodup, usagers_2023_nodup, usagers_2024_nodup])
print("sum per-year rows =", sum_rows, "usagers_final rows =", len(usagers_final))

sum per-year rows = 744575 usagers_final rows = 744575

# possible next steps for created dataset
- rename columns to ind_column
- to discuss for further steps: 
    - Categorical level reduction & encoding policy:
    > secu- columns. exploration showed that there are some categories which have non-significant appearance in all years
    > reduce categories 5,6,7 could be aggregated to one new category. 
    > age-variable could be for example groups of aggreagated ages (0-17,18-24,25-44,45-64,65+)
    > create binary target variable (serious/non-serious)